<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 인터넷 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- GPS 위치 권한 추가 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 음성 인식 권한 추가 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NeBada"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".IntroActivity"
            android:exported="true"
            android:theme="@style/Theme.NeBada.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.NeBada" />

        <activity
            android:name=".CatchManagementActivity"
            android:exported="false"
            android:theme="@style/Theme.NeBada"
            android:parentActivityName=".IntroActivity" />

        <!-- 시장정보 관련 Activity들 -->
        <activity
            android:name=".MarketInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.NeBada"
            android:parentActivityName=".IntroActivity" />

        <activity
            android:name=".MarketDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.NeBada"
            android:parentActivityName=".MarketInfoActivity" />
        <!-- application 태그 내부에 추가할 Activity -->
        <activity
            android:name=".Activity.WeatherForecastActivity"
            android:exported="false"
            android:theme="@style/Theme.NeBada"
            android:parentActivityName=".IntroActivity"
            android:label="날씨 예보" />
        <!-- 네트워크 보안 설정에 기상청 API 도메인 추가 -->

    </application>
</manifest>